/*Table of Contents*/
/*1. Global Styles*/
/*2. Typography*/
/*3. Layout*/
/*    3.1 Reusables*/
/*    3.2 Other*/
/*4. Areas*/
/*    4.1 Header*/
/*    4.2 Verkoopoverzicht*/
/*    4.3 Best verkochte tv*/
/*    etc.*/
/*5. Media Queries*/

/* ------------------------------- 1. Global Styles -------------------------------- */
/*    CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------- 2. Typography ----------------------------------- */
.green-text {
    color: green;
}

.blue-text {
    color: blue;
}

.red-text {
    color: red;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
#best-seller-img, .tv-images {
    max-width: 200px;
}

.icon {
    max-width: 20px;
}
/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Verkoopoverzicht ------------------- */

/* --------------- 4.2 Best verkochte tv ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */