/*Table of Contents*/
/*1. Global Styles*/
/*2. Typography*/
/*3. Layout*/
/*    3.1 Reusables*/
/*    3.2 Other*/
/*4. Areas*/
/*    4.1 Header*/
/*    4.2 Verkoopoverzicht*/
/*    4.3 Best verkochte tv*/
/*    etc.*/
/*5. Media Queries*/

/* ------------------------------- 1. Global Styles -------------------------------- */
/*    CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main {
    margin-left: 20px;
    margin-right: 20px;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
#best-seller-img, .tv-images {
    max-width: 200px;
}

.icon {
    max-width: 20px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Verkoopoverzicht ------------------- */
.statistics {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.statistics-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 10rem;
    padding: 1rem;
}

#numbers-sold {
    color: green;
    background-color: lightgreen;
}

#numbers-bought {
    color: blue;
    background-color: lightblue;
}

#numbers-stock {
    color: orangered;
    background-color: lightgoldenrodyellow;
}

/* --------------- 4.2 Best verkochte tv ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */